@model AI_Kesim.Models.Uzmanlik

@{
    ViewData["Title"] = "Delete";
}

<h1>Sil</h1>

<h3>Bunu silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Uzmanlık</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            Ücret
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucret)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
